target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

secrets/*
jars/*
*.iml
*.swp
.idea/*
logs/
kafka.broker1.keystore.jks
kafka.broker1.truststore.jks
*.jar

venv/
*.pyc
